<h1>Users Info</h1>
<%= form_for(@user) do |f| %>
    <div class="field">
    <label for="name">name</label><br>
    <%=f.text_field :name %>
    </div>
    <div class="field">
    <label for="introduction">Introduction</label><br>
    <%= f.text_field :introduction %>
    </div>

    <div class="action"><%= f.submit 'Update User' %></div>

<% end %>

